<div id="{{ block.id }}" class="badges" data-easygut-id="badges">
  <div class="badges__item badges__item--recommend">
    <div class="logo">
      <img src="{{ theme.link }}/dist/images/logo.svg" alt="logo">
    </div>
    <div class="badges__item__footer">
      <div class="badges__item__title">{{ badge_type_name }}</div>
      <div class="icon">
        <img src="{{ theme.link }}/dist/images/{{ badge_type_icon }}.svg" alt="icon">
      </div>
    </div>
  </div>
</div>