<div id="{{ block.id }}" class="plus-minus" data-easygut-id="plusminus">
  <div class="plus-minus__title">
    <div class="plus-minus__rating">
      <div class="plus-minus__rating__left">
        <div>ocena:</div>
        <div class="plus-minus__rating__num">{{ fields.rate }}</div>
      </div>
      <div class="plus-minus__rating__right">
        <div class="plus-minus__product">{{ fields.name }}</div>

        {% if fields.price %}

          <div class="plus-minus__price">Cena: <span>{{ fields.price }}</span> zł</div>

        {% endif %}

      </div>
    </div>

    {% if fields.partner %}

      <div class="plus-minus__cta">
        <div><a href="{{ fields.partner_link }}" class="btn btn--e-commerce" href="{{ fields.url }}">Gdzie kupić?</a></div>
        <div class="plus-minus__cta__partner">
          {% if fields.partner_logo %}
            <img src="{{ fields.partner_logo }}" alt="partner logo">
          {% endif %}
        </div>
      </div>

    {% endif %}

  </div>
  <div class="plus-minus__content">

    {% if fields.plusy %}
    <div class="plus-minus__left">
      <div class="plus-minus__content__title">Plusy</div>
      <div class="plus-minus__content__subtitle">Dlaczego warto?</div>
      <ul>
        {% for item in fields.plusy %}
          <li><span>{{ item.plus }}</span></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if fields.minusy %}
    <div class="plus-minus__right">
      <div class="plus-minus__content__title">Minusy</div>
      <div class="plus-minus__content__subtitle">LEPIEJ ODPUŚCIĆ</div>
      <ul>
        {% for item in fields.minusy %}
          <li><span>{{ item.minus }}</span></li>
        {% endfor %}
      </ul>
    </div>  
    {% endif %}
    
  </div>
</div>