<div id="{{ block.id }}" class="read-more" data-easygut-id="readmore">
  <div class="read-more__heading">
    <div class="read-more__title">{{ fields.title }}</div>

    {% if fields.partenr %}

      <div class="special__brand">
        <div class="special__brand__txt">Partnerem cyklu jest:</div> 
        <div><img src="{{ fields.partenr_img }}" alt="logo"></div>
      </div>
      
    {% endif %} 

  </div>
  <div class="medium-post read-more__slider" data-equalizer>
    {% for post in posts %}
      <div class="read-more__slide" data-equalizer-watch>{% include 'views/parts/PostBoks.twig' %}</div>
    {% endfor %}
  </div>
</div>