<div id="{{ block.id }}" class="test-platform" data-easygut-id="testplatform">
  <div class="test-platform__title">{{ fields.title }}</div>
  {% for row in rows %}
    {% if not row.hide_row %}
      <div class="test-platform__item">
        <div class="key">{{ row.key_1 }}</div>
        <div class="value">{{ row.value_1 }}</div>
      </div>
    {% endif %}
  {% endfor %}

</div>