<div id="{{ block.id }}" class="medium-post row large-uncollapse medium-uncollapse small-uncollapse" data-easygut-id="mediumposts">
  {% for post in posts %}
    <div class="large-4 small-12 medium-12 columns rwd-m">{% include 'views/parts/PostBoks.twig' %}</div>
  {% endfor %}
</div>