<div id="{{ block.id }}" data-easygut-id="btnmore">
  <div class="row large-uncollapse medium-uncollapse small-uncollapse">
    <div class="large-12 small-12 medium-12 column"><a href="{{ fields.more_link }}" class="btn btn--big btn--more">{{ fields.more_txt }}</a></div>
  </div>
</div>