.editorial-office {
  margin-bottom: rem-calc(30);
  &__title {
    font-size: 31px;
    line-height: 38px;
    color: #593568;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    margin-bottom: rem-calc(50);
  }
  &__user {
    margin-bottom: rem-calc(30);
  }
  &__avatar {
    img {
      width: 100%;
    }
  }
  &__user-name {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: rem-calc(24);
    margin-top: rem-calc(5);
  }
  &__user-desc {
    font-size: 16px;
    line-height: 180%;
  }
  &__user-role {
    font-size: 12px;
    line-height: 15px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__user-link {
    font-size: 16px;
    line-height: 180%;
    margin-top: rem-calc(30);
  }
}