<div id="{{ block.id }}" class="editorial-office row large-uncollapse medium-uncollapse small-uncollapse" data-easygut-id="editorialoffice">

  <div class="editorial-office__title large-12 small-12 medium-12 column">{{ fields.titile }}</div>

  {% for user in fields.users %}

    <div class="editorial-office__user large-12 small-12 medium-12 column">
      <div class="row align-middle large-uncollapse medium-uncollapse small-uncollapse ">
        <div class="editorial-office__avatar large-3 small-12 medium-12 columns">
          <img src="{{ function('get_alternative_avatar', user.user.ID ) }}" alt="">
        </div>
        <div class="large-9 small-12 medium-12 columns">
          <div class="editorial-office__user-role">{{ user.positiona }}</div>
          <div class="editorial-office__user-name">{{ user.user.display_name }}</div>
          <div class="editorial-office__user-desc">{{ user.user.user_description }}</div>
          <div class="editorial-office__user-link">
            <a href="{{ function('get_author_posts_url', user.user.ID ) }}">Czytaj teksty autora</a>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}

</div>
