{% extends "/layouts/base.twig" %}

{% block content %}

  <div {{ function( 'body_class', "container" ) }}>

    {% if is_category %}
      {% include 'views/parts/top-archive.twig' %}
    {% endif %}

    {% if is_author %}
      {% include 'views/parts/top-author.twig' %}
    {% endif %}

    {% if not is_page or is_front_page or like_a_home %}
      {{ post.content }}
    {% endif %}

    {% if display_pagination %}
      <div class="row wp-pagenavi">
        {{ wp_pagenavi }}
      </div>
    {% endif %}

    {% if is_page and not is_front_page and not like_a_home %}
      {% include 'views/templates/page.twig' %}
    {% endif %}
  
  </div>

{% endblock %}

