<div class="page">
  <div class="row large-collapse medium-collapse small-collapse">
    <div class="large-12 small-12 medium-12 column">
      <h2 class="page__title">{{ post.nrm_title }}</h2>
      <div class="page__img"><img src="{{ theme.link }}/dist/images/logo.svg" alt="logo" /></div>
    </div>
  </div>
  <div class="page__content">
    {{ post.content }}
  </div>
</div>