{% extends "/layouts/base.twig" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="large-12 small-12 medium-12 column search__titile">
        WYNIKI WYSUZKIWAŃ DLA “{{ search_fraze }}”
      </div>
    </div>

    {% include 'blocks/publication-counter/publication-counter.twig' %}

    {% include 'blocks/medium-posts/tribus.twig' %}

    <div class="row wp-pagenavi">
      {{ wp_pagenavi }}
    </div>

  </div>

{% endblock %}