.badges { 
  &__item {
    display: flex;
    background: #FFF;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #593568;
    border-radius: 5px;
    margin-bottom: 2.875rem;
    &__title {
      margin-top: auto;
      font-family: 'Gilroy';
      font-size: rem-calc(32);
      @include breakpoint(medium down) {
        font-size: rem-calc(12);
        margin-top: 0;
        margin-right: rem-calc(20);
        width: 74%;
        text-align: right;
      }
      text-transform: uppercase;
      color: #230032;
      margin-right: rem-calc(30);
    }
    &__footer {
      display: flex;
      align-items: center;
      padding-right: rem-calc(30);
      @include breakpoint(medium down) {
        padding-right: 0.875rem;
      }
    }
    .logo {
      background: #0C0011;
      padding: rem-calc(30);
      @include breakpoint(medium down) {
        padding: rem-calc(18);
      }
      position: relative;
      padding-right: rem-calc(60);
      img {
        max-width: rem-calc(174);
        @include breakpoint(medium down) {
          max-width: rem-calc(79);
        }
      }
      &:after {
        content: '';
        background-image: url("../../dist/images/badge-bg2.svg");
        background-repeat: no-repeat;
        width: rem-calc(93);
        height: 100%;
        position: absolute;
        top: 0;
        background-size: contain;
        right: rem-calc(-48);
        @include breakpoint(medium down) {
          right: -4rem;
        }
      }
    }
    .icon {
      @include breakpoint(medium down) {
        max-width: rem-calc(21);
      }
    }
  }
}