$themes: (
  default: (
    bg: #EDEDED,
    secend-bg: #E5E5E5,
    boks-bg: #FFFFFF,
    heading-color: #230032,
    text-color: #230032,
    category-color: #593568,
    label-color: #FFFFFF,
    secend-text-color: #230032,
    slider-color: #FFFFFF,
    slider-active-color: #CCCCCC,
    post-catgory-color: #593568,
    hover-color: #E5E5E5,
    third-text-color: #8D8D8D,
    menu-color: #593568,
    border-contents-color: #CCCCCC,
    fill-contents-color: #E5E5E5,
    contents-color: #FFFFFF,
    badge-bg: #FFFFFF,
    border_color: #CCCCCC,
    pagination-active: #593568,
    transparent: transparent,
    hot: #FF6C2F,
    active: #593568,
    white: #FFFFFF,
    fb: #365396,
    twiter: #00A8F0,
    mesanger: #0084FF,
    switch-boks: #230032
  ),
  dark: (
    bg: #0D0011,
    secend-bg: #230032,
    boks-bg: #230032,
    heading-color: #CCCCCC,
    text-color: #E5E5E5,
    category-color: #B955E6,
    label-color: #1D0129,
    secend-text-color: #FFFFFF,
    slider-color: #593568,
    slider-active-color: #B955E6,
    post-catgory-color: #CCC,
    hover-color: #593568,
    third-text-color: #CCCCCC,
    menu-color: #8D8D8D,
    border-contents-color: #593568,
    fill-contents-color: #1D0129,
    contents-color: #230032,
    badge-bg: #0D0011,
    border_color: #36084A,
    pagination-active: #593568,
    transparent: transparent,
    hot: #FF6C2F,
    active: #593568,
    white: #FFFFFF,
    fb: #365396,
    twiter: #00A8F0,
    mesanger: #0084FF,
    switch-boks: #230032
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}