.page {
  &__title {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    @include themed() {
      color: t('secend-text-color');
    }
    text-align: center;
    padding: rem-calc(80) 0;
    margin-bottom: 0;
  }
  &__img {
    text-align: center;
    background-color: #000;
    padding: rem-calc(76) 0;
    margin-bottom: rem-calc(45);
    border-radius: rem-calc(5);
    img {
      width: 29.474vw;
    }
  }
  &__content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    line-height: 180%;
    margin: 0 auto;
    @include themed() {
      color: t('secend-text-color'); 
    } 
  }
  p {
    margin-bottom: rem-calc(53);
  }
}

.home {
  h2, h3, h4, h5, h6 {
    @include themed() {
      color: t('heading-color'); 
    }
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
  h2, h3, h4, h5, h6, p {
    max-width: 82.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: .9375rem;
    padding-left: .9375rem;
    @include breakpoint(medium down) {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }
  h2 {
    font-size: 3.1875rem;
    line-height: 3.875rem;
    @include breakpoint(medium down) {
      font-size: rem-calc(22);
      line-height: rem-calc(27);
    }
  }
  h4 {
    margin-bottom: rem-calc(32);
  }
  p {
    @include themed() {
      color: t('text-color'); 
    } 
    font-size: rem-calc(18);
    line-height: 180%;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: rem-calc(40);
    font-weight: 400;
  }
} 