.post,
.page {
  &__sidebar {
    @include breakpoint(medium up) {
      padding-left: rem-calc(30);
    }
    @include breakpoint(medium down) {
      display: none;
    }
    .post-boks {
      height: auto;
      margin-bottom: rem-calc(26);
    }
  }
  &__footer {
    margin-top: rem-calc(30);
  }
  &__title {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: rem-calc(52);
    line-height: rem-calc(64);
    @include themed() {
      color: t('secend-text-color'); 
    } 
    max-width: rem-calc(1042);
    padding: 0 rem-calc(32);
    margin-bottom: rem-calc(28);
    @include breakpoint(medium down) {
      font-size: rem-calc(22);
      line-height: rem-calc(27);
      padding: 0 rem-calc(16);
      margin-bottom: rem-calc(20);
    }
  }
  &__cat {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: rem-calc(12);
    line-height: 15px;
    @include themed() {
      color: t('post-catgory-color'); 
    } 
    text-transform: uppercase;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(8);
    padding: 0 rem-calc(32);
    @include breakpoint(medium down) {
      margin-top: rem-calc(24);
      padding: 0 rem-calc(16);
    }
    a {
      @include themed() {
        color: t('post-catgory-color'); 
      } 
    }
  }
  &__thumbnail {
    height: rem-calc(541);
    margin-bottom: rem-calc(50);
    border-radius: rem-calc(5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    @include breakpoint(medium down) {
      height: rem-calc(166);
      margin-bottom: rem-calc(35);
    }
  }
  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem-calc(28);
    @include themed() {
      color: t('heading-color'); 
    }
    font-size: rem-calc(12);
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 rem-calc(32);
    @include breakpoint(medium down) {
      margin-bottom: rem-calc(23);
      padding: 0 rem-calc(16);
    }
  }
  &__info {
    display: flex;
    align-items: center;

  }
  &__author {
    display: flex;
    align-items: center;
    &__txt {
      display: flex;
      line-height: rem-calc(12);
      @include breakpoint(medium down) {
        flex-direction: column;
      }
    }
    &__img {
      width: rem-calc(45);
      height: rem-calc(45);
      margin-right: rem-calc(15);
      @include breakpoint(medium down) {
        width: rem-calc(30);
        height: rem-calc(30);
      }
      img{
        border-radius: rem-calc(5);
      }
    }
    a {
      @include themed() {
        color: t('heading-color'); 
      }
    }
  }
  &__date {
    @include breakpoint(medium up) {
      border-left: 2px solid #CCC;
      padding-left:rem-calc(16);
      margin-left:rem-calc(16);
    }
  }
  &__content {
    word-wrap: break-word;
    @include themed() {
      color: t('text-color'); 
    } 
    img {
      @include breakpoint(medium up) {
        border-radius: 5px;
      }
    }
    p, .source, h1, h2, h3, h4, h5, h6, .wp-block-embed, figcaption, ul, ol, .btn--big, .test-platform, .badges {
      margin-left: rem-calc(32);
      margin-right: rem-calc(32);
    }
    .wp-block-embed {
      @include breakpoint(medium down) {
        margin-left: rem-calc(0);
        margin-right: rem-calc(0);
      }
    }
    .wp-block-gallery {
      @include breakpoint(medium down) {
        margin-left: rem-calc(32);
        margin-right: rem-calc(32);
      }
      img {
        border-radius: rem-calc(5)
      }
    }
    .test-platform,
    .plus-minus {
      margin-bottom: rem-calc(46);
      @include breakpoint(medium down) {     
        margin-bottom: rem-calc(20);
      }
    }
    p, ul, ol {
      font-size: rem-calc(18);
      line-height: 180%;
      font-family: 'Red Hat Display', sans-serif;
      margin-bottom: rem-calc(46);
      @include breakpoint(medium down) {
        font-size: rem-calc(14);       
        margin-bottom: rem-calc(20);
      }
    }
    .wp-block-media-text__media {
      margin-bottom: rem-calc(46);
      @include breakpoint(medium down) {    
        margin-bottom: rem-calc(20);
      }
    }
    p.has-medium-font-size {
      font-weight: bold;
      font-size: rem-calc(23);
      line-height: rem-calc(33);
      @include breakpoint(medium down) {
        font-size: rem-calc(16);
        line-height: 145.53%;        
      }
    }
    .source {
      @include themed() {
        color: t('third-text-color'); 
      } 
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      a {
        @include themed() {
          color: t('category-color'); 
        } 
      }
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
    h2 {
      font-size: 30px;
      line-height: 133.98%;
      border-bottom: 1px solid #593568;
      padding-bottom: rem-calc(30);
      margin-bottom: rem-calc(44);
    }
    h3 {
      font-size: rem-calc(31);
      line-height: rem-calc(38);
      margin-bottom: rem-calc(26);
    }
    a {
      font-weight: bold;
    }
    blockquote{
      margin-bottom: rem-calc(44); 
      @include breakpoint(medium down) { 
        margin-left: rem-calc(32);
      }
      p {
        margin-left: 0;
        margin-right: 0;
        @include themed() {
          color: t('text-color'); 
        }
      }
      a {
        font-weight: normal;
      }
    }
    cite {
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      font-size: rem-calc(16);
      line-height: rem-calc(20);
      font-style: normal;
      @include themed() {
        color: t('post-catgory-color'); 
      }
      &:before {
        display: none;
      }
    }
    .wp-block-embed {
      margin-bottom: rem-calc(35);
    }
    figcaption {
      margin-top: rem-calc(30);
      margin-bottom: rem-calc(41);
      font-size: 14px;
      line-height: 180%;
      text-align: left;
      @include themed() {
        color: t('text-color'); 
      }
    }
    .blocks-gallery-item {
      figcaption {
        color: #FFF;
      }
    }
    .wp-block-image {
      margin-bottom: rem-calc(41);
      @include breakpoint(medium down) {
        margin-bottom: 1.25rem;
      }
      figcaption {
        margin-bottom: 0;
      }
    }
    ul {
      margin-left: 3rem;
      margin-bottom: rem-calc(36);
      list-style: none;
      li {
        margin-bottom: rem-calc(16);
        position: relative;
        &:before{
          content: '';
          position: absolute;
          @include themed() {
            border-right: 2px solid t('text-color');
            border-bottom: 2px solid t('text-color');
          }



          width:5px;
          height:5px;
          top: 15px;
          left: -20px;
          transform: translateY(-50%) rotate(-45deg);
       }
      }
    }
    ul.blocks-gallery-grid {
      margin-left: 0;
      margin-right: 0;
    }
    ol {
      padding-left: 1rem;
      margin-bottom: rem-calc(36);
      li {
        margin-bottom: rem-calc(16);
      }
    }
    .wp-block-gallery {
      li {
        &::before {
          display: none;
        }
      }
    }
    .read-more,
    .cocoen {
      margin-bottom: rem-calc(44);
    }
    .btn--big {
      width: calc(100% - 64px);
      margin-bottom: rem-calc(35);
    }
    .wp-block-embed {
      iframe {
        max-width: 100%;
      }
    }
    .cocoen {
      @include breakpoint(medium up) {
        border-radius: 5px;
      }
    }
  }

  &__labels {
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &__share {
    display: flex;
  }
  &__tags {
    @include themed() {
      border-top: 1px solid t('border_color'); 
    }
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(30);
    padding-top: rem-calc(30); 
    color: #CCCCCC;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: rem-calc(12);
    display: flex;
    align-items: center;
    &__title {
      margin-right: rem-calc(21);
      text-transform: uppercase;
      @include themed() {
        color: t('third-text-color'); 
      }
    }
    &__list {
      @include breakpoint(medium down) {
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
      }
      margin-right: rem-calc(-20);
    }
    .label {
      margin-right: rem-calc(21);
      margin-bottom: rem-calc(10);
    }
    .simplebar-track.simplebar-horizontal {
      display: none;
    }
  }
}
.post-contents,
.post__footer {
  @include breakpoint(medium down) {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}


.post--extra {
  .post__header {
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    margin-bottom: rem-calc(50);
    * {
      z-index: 3;
    }
    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(0.46deg, #000000 1.24%, rgba(0, 0, 0, 0) 99.23%), rgba(35, 0, 50, 0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      
    }
  }
  .post__title {
    text-align: center;
    font-size: rem-calc(82);
    @include breakpoint(medium down) {
      font-size: rem-calc(22);
    }
    line-height: 100%;
    max-width: 100%;
    margin-bottom: 20vh;
  }
  .post__footer,
  .post__infos {
    max-width: rem-calc(850);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(medium down) {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }
}
.post--extra,
.page {
  p, .source, h1, h2, h3, .wp-block-embed, figcaption, ul, ol, .btn--big, .test-platform, .badges {
    margin-left: auto;
    margin-right: auto;
    max-width: rem-calc(790);
    @include breakpoint(medium down) {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }
  .gallery, blockquote, .read-more, .before-after, ul.wp-block-gallery, .e-commerce, .post-contents, .plus-minus {
    margin-left: auto;
    margin-right: auto;
    max-width: rem-calc(850)
  }
  ul {
    padding-left: 1rem;
  }
}

.wp-block-gallery .blocks-gallery-item {
  figcaption {
    text-align: left;
    line-height: 125%;
    margin: 0;
    @include themed() {
      color: t('white');
    } 
  }
}

.theme--default.post-extra,
.theme--dark.post-extra {
  .post__title,
  .post__author a,
  .post__infos {
    color: #FFF;
  }
  .switch-info,
  .switch-info-box {
    background-color: #230032; 
    color: #FFF;
  }
  .switch-info-box__title {
    color: #FFF;
  }
}

.home .btn--big {
  margin-left: 0;
}

.wp-block-embed-reddit .embedly-card-hug {
  background-color: #EDEDED;
}