.big-post {
  margin-bottom: rem-calc(26);
  height: rem-calc(546);
  @include breakpoint(medium down) {
    height: rem-calc(397);
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  display: flex;
  width: 100%;
  &__col {
    flex: 0 0 33.33333%;
    padding-right: .9375rem;
    padding-left: .9375rem;
    @include breakpoint(medium down) {
      flex: 0 0 283px;
      margin-right: rem-calc(10);
      margin-left: rem-calc(10);
      padding-right: 0;
      padding-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .post-boks {
    height: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
    @include breakpoint(medium down) {
      margin-bottom: 0;
    }
  }
  &__half {
    .post-boks {
      height: 47.5%;
      @include breakpoint(medium up) {
        margin-bottom: rem-calc(26);
      }
    }
    @include breakpoint(medium down) {
      flex: 0 0 606px;
      display: flex;
      .post-boks {
        width: 283px;
        height: 100%;
        &:first-child {
          margin-right: rem-calc(20);
        }
      }
    }
  }
  &__whole {
    .post-boks__title {
      font-size: rem-calc(32);
      line-height: rem-calc(39);
      @include breakpoint(medium down) {
        font-size: rem-calc(22);
        line-height: rem-calc(27);
      }
    }
  }
}