.page,
.post,
.archive {
  .footer{
    ul {
      margin-left: unset;
      padding-left: 0;
    }
  }
}
.footer{
  @include themed() {
    border-top: 5px solid t('label-color');
  } 
  padding-top: rem-calc(59);
  padding-bottom: rem-calc(87);
  @include breakpoint(large down) {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(60);
  }
  color: #593568;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: rem-calc(12);
  text-transform: uppercase;
  @include themed() {
    background-color: t('bg'); 
  }
  &__logo {
    max-width: rem-calc(152);
    @include breakpoint(large down) {
      margin-bottom: rem-calc(40);
    }
  }
  &__copy {
    @include breakpoint(large down) {
      margin-bottom: rem-calc(19);
    }
  }
  &__partners {
    display: flex;
  }
  &__partner {
    margin-top: auto;
    a{
      margin-left: rem-calc(22);
      display: inline-block;
    }
  }
  &__partner--mobile {
    @include breakpoint(large up) {
      display: none;
    }
    a {
      margin-left: 0;
    }
  }
  &__menus {
    @include breakpoint(large up) {
      display: flex;
      justify-content: space-between;
    }
    @include breakpoint(large down) {
      white-space: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
  &__menus--acordion {
    @include breakpoint(large down) {
      white-space: normal;
      overflow-x: unset;
    }
    .footer__menu {
      @include breakpoint(large down) {
        width: 100%;
        display: block;
        width: 100%;
      }
    }
  }
  &__menu {
    @include breakpoint(large up) {
      flex: 0 0 20%;
      display: flex;
      flex-direction: column;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
    @include breakpoint(large down) {
      display: inline-block;
      width: rem-calc(243);
    }
    a.footer__menu__title {
      @include themed() {
        color: t('active'); 
      } 
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      font-size: rem-calc(12);
      text-transform: uppercase;
      display: block;
      @include breakpoint(large uo) {
        margin-bottom: rem-calc(27);
      }
      @include breakpoint(large down) {
        padding: rem-calc(19) 0;
      }
      min-height: 18px;
    }
    &__title--ac.accordion {
      background-image: url("../../dist/images/arrow.svg");
      background-repeat: no-repeat;
      background-position: 100% 40%;
    }
    &__list {
      list-style: none;
      margin-left: 0;
      @include breakpoint(large up) {
        margin-bottom: rem-calc(58);
      }
      li {
        margin-bottom: rem-calc(10);
        &:last-child {
          margin-bottom: 0;
          @include breakpoint(large down) {
            &:after {
              display: none;
            }
          }
        }
        @include breakpoint(large down) {
          display: inline-block;
          margin-right: rem-calc(10);
          &:after {
            content: '-';
            margin-left: rem-calc(10);
            @include themed() {
              color: t('secend-text-color'); 
            }
          }
        }
      }
    }
    &__list.disable {
      display: none;
    }
  }
  &__menu_1 {
    flex: 0 0 25%;
  }
  &__menu_3 {
    @include breakpoint(large down) {
      .footer__menu__title {
        display: none;
      }
    }
  }
  &__menu_2 {
    ul {
      @include breakpoint(large down) {
        margin-bottom: 0;
        li:last-child {
          margin-bottom: rem-calc(10);
        }
      }
    }
  }
  .footer__menu.footer__menu_5 {
    @include breakpoint(large down) {
      margin-top: rem-calc(20);
      display: flex;
      flex-direction: column;
      .footer__partner--mobile {
        margin-top: rem-calc(16);
      }
      .footer__partner__pair {
        display: flex;
        width: 100%;
        a {
          margin-left: rem-calc(8);
        }
      }
    }
  }
  &__menu--copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  a {
    @include themed() {
      color: t('secend-text-color'); 
    } 
  }
  &__social {
    a {
      margin-right: rem-calc(20);
    }
  }
}