.header {
  z-index: 2;
  position: fixed;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: rem-calc(14);
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  @include themed() {
    background-color: t('bg'); 
  }
  @include breakpoint(large down) {
    line-height: rem-calc(81);
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint(large up) {
      position: relative;
    }
    a {
      @include themed() {
        color: t('menu-color'); 
      }
      &:hover {
        @include themed() {
          color: t('secend-text-color'); 
        }
      }
    }
    .current-menu-item {
      @include themed() {
        color: t('secend-text-color');
        border-bottom: 4px solid t('secend-text-color');
      }
    }
    .menu-item {
      margin-left: rem-calc(40);
      display: inline-block;
      @include breakpoint(large up) {
        line-height: rem-calc(92);
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    @include breakpoint(large down) {
      img {
        height: rem-calc(21);
      }
    }
  }
  &__search {
    @include breakpoint(large up) {
      margin-right: auto;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__search-form {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    z-index: 2;
    @include breakpoint(large down) {
      padding-right: rem-calc(20);
      padding-left: rem-calc(50);
      background-color: #0C0011;
    }
  }
  &__search-form.active {
    display: block;
  }
  .return-to-home {
    position: absolute;
    top: 20px;
    right: 0;
    text-align: right;
    line-height: 15px;
    display: none;
    a {
      color: #CCCCCC;
      font-size: 12px;
      line-height: 15px;
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
    }
  }
}

.mega-menu {
  position: fixed;
  top: 92px;
  width: 100%;
  padding: rem-calc(35) 0;
  z-index: 9;
  display: none;
  @include themed() {
    background-color: t('secend-bg');
  }
  &__list {
    column-count: 2;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    a {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 30px;
      @include themed() {
        color: t('third-text-color');
      }
      &:hover {
        @include themed() {
          color: t('menu-color');
        }
      }
    }
    a.current-menu-item {
      @include themed() {
        color: t('menu-color');
      }
    }
  }
  .read-more__heading {
    padding: 0;
    padding-left: .8125rem;
  }
  .read-more__slider {
    display: flex;
  }
  .post-boks,
  .post-boks:hover {
    @include themed() {
      background-color: t('slider-color');
    }
  }
}
.mega-menu.active {
  display: block;
}

.searchform {
  position: relative;
  .submit {
    position: absolute;
    right: rem-calc(24);
    top: 50%;
    transform: translateY(-50%);
  }
  input[type=text] {
    padding-right: rem-calc(64);
    width: 100%;
    line-height: 1;
  }
  &__close {
    position: absolute;
    left: rem-calc(-30);
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(large up) {
      display: none;
    }
  }
}

.switch-box{
	display: flex;
	justify-content: center;
	align-items: center;
  margin-left: rem-calc(25);
  line-height: 1;
}

.switch-info {
  margin-top: rem-calc(-18);
  margin-left: rem-calc(3);
  position: relative;
  z-index: 9;
  border-radius: 50%;
  @include themed() {
    background-color: t('secend-bg');
  }
  @include breakpoint(large down) {
    display: none;
  }
}

.switch-info-box {
  @include themed() {
    background-color: t('bg');
    color: t('text-color'); 
  }
  border: 1px solid #593568;
  border-radius: rem-calc(5);
  padding: rem-calc(21);
  width: rem-calc(219);
  font-size: rem-calc(12);
  line-height: rem-calc(16);
  font-family: 'Red Hat Display', sans-serif;
  position: absolute;
  left: 97%;
  bottom: rem-calc(30);
  transform: translateY(100%);
  display: none;
  z-index: 2;
  &__title {
    @include themed() {
      color: t('secend-text-color'); 
    } 
    font-size: rem-calc(14);
    margin-bottom: rem-calc(10);
  }
}

.switch-info-box.active {
  display: block;
}

input[type="checkbox"].switch{
	font-size: 15px;
	appearance: none;
	width: rem-calc(41);
	height: rem-calc(22);
	background-color: #C4C4C4;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all .2s ease-in-out;
  }
  
input[type="checkbox"].switch:checked{
	background-color: #593568;
}

input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: rem-calc(22);
	height: rem-calc(22);
	border-radius: 50%;
	background-color: #FFCC00;;
	box-shadow: 0 0 .25em rgba(0,0,0,.3);
	transform: scale(.7);
	left: 0;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch:checked:after{
  left: calc(100% - 1.5em);
  background-color: #fff;
}

.nav-wrapper {
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  .menu-item {
    display: block;
    font-size: rem-calc(14);
    line-height: rem-calc(50);
    @include themed() {
      color: t('text-color'); 
    } 
    text-transform: uppercase;
  }
  .btn {
    margin-top: rem-calc(20);
  }
}

body.theme--default.post-extra,
body.theme--dark.post-extra {
  .header{
    position: absolute;
    background-color: transparent;
    @include breakpoint(large up) {
      margin-top: rem-calc(24);
    }
    .return-to-home {
      display: block;
    }
  }
  .header__menu {
    display: none;
  }

}