.label {
  display: inline-block;
  @include themed() {
    background-color: t('label-color');
  } 
  border-radius: 5px;
  padding: rem-calc(8) rem-calc(22);
  font-size: 12px;
  @include themed() {
    color: t('category-color'); 
  } 
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.label--hot {
  @include themed() {
    color: t('hot');
  }
  background-image: url("../../dist/images/hot.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
  padding-right: rem-calc(53);
}

a.label--comment {
  @include themed() {
    color: t('heading-color'); 
  } 
}

.btn {
  padding: rem-calc(15) rem-calc(25);
  @include themed() {
    color: t('secend-text-color'); 
  } 
  border-radius: rem-calc(5);
  font-size: rem-calc(12);
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    @include themed() {
      border: 1px solid t('border-contents-color');
      background-color: t('label-color');
    } 
  }
}

.btn.is-checked,
.btn:active {
  @include themed() {
    background-color: t('active'); 
  } 
  color: #fff;
}

.home .btn {
  width: 100%;
}

.btn.btn--big {
  @include themed() {
    background-color: t('label-color');
    border: 1px solid t('label-color');
  } 
  display: block;
  height: rem-calc(90);
  text-align: center;
  line-height: rem-calc(90);
  padding: 0;
  @include breakpoint(medium down) {
    height: rem-calc(64);
    line-height: rem-calc(64);
  }
  &:hover {
    cursor: pointer;
    @include themed() {
      border: 1px solid t('border-contents-color');
      background-color: t('label-color');
    } 
  }
}

.btn.btn--fb {
  background-color: #365396;
  margin-right: rem-calc(10);
  width: calc(50% - 38px);
  background-image: url("../../dist/images/facebook-f.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;
  color: #FFF;
  @include breakpoint(medium down) {
    width: calc(100% - 108px);
  }
}

.btn.btn--msg {
  background-color: #0084FF;
  margin-right: rem-calc(10);
  width: calc(50% - 38px);
  background-image: url("../../dist/images/facebook-messenger.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;
  color: #FFF;
  @include themed() {
    color: t('white');
  } 
  @include breakpoint(medium down) {
    width: rem-calc(49);
    height: rem-calc(49);
    background-position: 50% 50%;
  }
  span {
    @include breakpoint(medium down) {
      display: none;
    }
  }
}

.btn.btn--twiter {
  background-color: #00A8F0;
  padding: .9375rem 1.0625rem;
  color: #FFF;
  @include breakpoint(medium down) {
    width: rem-calc(49);
    height: rem-calc(49);
    background-position: 50% 50%;
  }
}

.btn.btn--e-commerce {
  background: #56B542;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-left: rem-calc(60);
  padding-right: rem-calc(60);
  @include themed() {
    color: t('white');
  } 
}

.btn.btn--fb,
.btn.btn--twiter,
.btn.btn--msg {
  &:hover {
    border: 0;
    opacity: .9;
  }
}

.btn.btn--fb{
  &:hover {
    @include themed() {
      background-color: t('fb');
    }
  }
}

.btn.btn--twiter {
  &:hover {
    @include themed() {
      background-color: t('twiter');
    }
  }
}

.btn.btn--msg {
  &:hover {
    @include themed() {
      background-color: t('mesanger');
    }
  }
}