.post-boks {
  &:hover {
    @include themed() {
      background-color: t('hover-color'); 
    }
  }
  @include themed() {
    background-color: t('boks-bg');
  }
  border-radius: rem-calc(5);
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  .label--hot {
    margin-top: rem-calc(30);
  }
  .plyr--video {
    height: 100%;
  }
  &__header {
    padding: rem-calc(32) rem-calc(56) rem-calc(32) rem-calc(40);
    @include breakpoint(medium down) {
      padding: rem-calc(28) rem-calc(34) rem-calc(28) rem-calc(23);
    }
  }
  &__tag {
    font-size: rem-calc(12);
    line-height: rem-calc(15);
    @include themed() {
      color: t('category-color'); 
    }
    a {
      @include themed() {
        color: t('category-color'); 
      }
    }
    text-transform: uppercase;
    margin-bottom: rem-calc(10);
    z-index: 1;
  }
  &__title {
    @include themed() {
      color: t('heading-color'); 
    }
    font-size: rem-calc(21);
    line-height: rem-calc(26);
    white-space: normal;
    z-index: 1;
    a {
      @include themed() {
        color: t('heading-color'); 
      }
    }
    @include breakpoint(medium down) {
      font-size: rem-calc(16);
      line-height: rem-calc(20);      
    }
  }
  &__excerpt {
    font-size: 16px;
    line-height: 21px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    margin-top: rem-calc(30);
    white-space: normal;
  }
  &__thumbnail {
    text-align: center;
    min-height: rem-calc(230);
    @include breakpoint(medium down) {
      min-height: rem-calc(186);
    }
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .post-boks__extra {
      position: absolute;
      bottom: rem-calc(32);
      left: rem-calc(32);
    }
    .label {
      @include themed() {
        color: t('heading-color'); 
      } 
    }
    .plyr__video-embed {
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}
@include breakpoint(medium up) {
  .post-boks-big {
    .post-boks {
      display: flex;
      flex-direction: row;
      &__title { 
        font-size: 41px;
        line-height: 50px;
      }
      .post-boks__thumbnail {
        flex: 0 0 50%;
        padding-left: 15px;
        max-height: unset;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.post-boks.post-boks-fullbg {
  padding: 0 rem-calc(60) rem-calc(48) rem-calc(40);
  @include breakpoint(medium down) {
    padding: 0 rem-calc(23) rem-calc(40) rem-calc(23);
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  .over-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .post-boks__tag {
    color: #CCC;
    z-index: 3;
    a {
      color: #CCC;
    }
  }
  .post-boks__title {
    color: #fff;
    z-index: 3;
    a {
      color: #fff;
    }
  }
  .label {
    align-self: start;
    position: relative;
    z-index: 1;
    margin-top: rem-calc(23);
  }
  .label--hot {
    margin-bottom: auto;
    z-index: 3;
  }
}

.post-boks-duo {
  .post-boks {
    .post-boks__thumbnail {
      min-height: 319px;
      @include breakpoint(medium down) {
        min-height: rem-calc(186);
      }
    }
    .post-boks__title {
      @include breakpoint(medium up) {
        font-size: rem-calc(31);
        line-height: rem-calc(38);
      }
    }
  }
}

body.search {
  .rwd-m {
    margin-bottom: rem-calc(26);
  }
}

.read-more {
  .post-boks {
    position: relative;
    overflow: visible;
    &__thumbnail {
      position: absolute;
      width: rem-calc(100);
      height: rem-calc(50);
      min-height: unset;
      border-radius: 5px;
      left: rem-calc(30);
      top: rem-calc(-25);
      .label {
        display: none;
      }
    }
    &__tag,
    &__excerpt {
      display: none;
    }
    &__title {
      font-size: rem-calc(16);
      line-height: rem-calc(20);
      margin-top: rem-calc(18);
    }
  }
  &__heading {
    display: flex;
    margin-bottom: rem-calc(20);
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
  }
}