.promo-post {
  margin-top: rem-calc(30);
  .home__title {
    margin-bottom: rem-calc(30);
  }
  p {
    @include themed() {
      color: t('text-color'); 
    } 
    font-size: rem-calc(18);
    line-height: 180%;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: rem-calc(40);
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &__btn .btn {
    text-transform: none;
    text-align: unset;
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);
    font-size: rem-calc(21);
    color: #CCCCCC;
    margin-bottom: rem-calc(31)
  }
}