.special {
  margin-top: rem-calc(40);
  position: relative;
  padding-bottom: rem-calc(54);
  @include breakpoint(medium down) {
    padding-bottom: rem-calc(16);
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    right: 0;
    width: 27.316%;
    top: 0;
    background: linear-gradient(270deg, #0C0011 0%, rgba(12, 0, 17, 0) 100%);
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-boks__excerpt,
  .label--hot {
    display: none;
  }
  .post-boks__title {
    height: rem-calc(78);
  }
  .home__title {
    margin-top: rem-calc(60);
    @include breakpoint(medium down) {
      margin-top: rem-calc(30);
    }
    color: #CCC !important;
  }
  .post-boks__title a {
    color: #CCC !important;
  }
  .post-boks__tag a {
    color: #B955E6;
  }
  .simplebar-track.simplebar-horizontal {
    background-color: #593568 !important;
  }
  .simplebar-scrollbar:before {
    background-color: #B955E6 !important;
  }
  &__brand {
    font-size: rem-calc(12);
    line-height: rem-calc(15);
    color: #593568;
    text-transform: uppercase;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    z-index: 1;
    @include breakpoint(medium down) {
      display: none;
    }
    &__txt {
      margin-right: rem-calc(30);
      @include breakpoint(medium up) {
        font-size: rem-calc(14);
      }
    }
  }
  &__posts {
    margin-bottom: rem-calc(36);
    @include breakpoint(medium down) {
      white-space: nowrap;
      overflow-x: scroll;
      display: flex;
      margin-bottom: rem-calc(16);
      .special__post:last-child {
        .post-boks {
          margin-right: rem-calc(20) !important;
        }
      }
    }
    .special__post:first-child {
      @include breakpoint(medium down) {
        .post-boks {
          margin-left: rem-calc(5);
        }
        //margin-left: 1.25rem;
      }
      @include breakpoint(medium up) {
        //margin-left: 0;
      }
    }
  }
  .post-boks {
    width: 407.98px;
    background-color: #36084A;
    @include breakpoint(medium down) {
      width: 283px;
      margin-right: rem-calc(10);
      margin-left: rem-calc(10);
    }
    margin-right: .9375rem;
    margin-left: .9375rem;
    &:hover {
      background-color: #593568;
    }
  }
  .post-boks__thumbnail img {
    height: 283px; //do zmiany
    @include breakpoint(medium down) {
      height: 186px; //do zmiany
    }
  }
  .slick-next {
    right: 5%;
    z-index: 2;
    background-image: url(../../dist/images/arrow-right.svg);
    width: 2.75rem;
    height: 2.75rem;
    &::before {
      display: none;
    }
  }
  .slick-prev {
    background-image: url(../../dist/images/arrow-right.svg);
    width: 2.75rem;
    height: 2.75rem;
    transform: rotate(180deg);
    margin-top: -1.357rem;
    left: -40px;
    &::before {
      display: none;
    }
  }
  .slick-disabled {
    display: none !important;
  }
  .slick-track {
    .slick-slide:first-child {
      .post-boks {
        //margin-left: 0;
      }
    }
  }
  .slick-dots {
    padding-left: 0;
    text-align: left;
    bottom: -45px;
    @include breakpoint(medium down) {
      margin-left: 0;
      padding-left: 1.25rem;
    }
    li, li button {
      width: 77px;
      height: 11px;
    }
    li {
      margin-right: 15px;
      margin-left: 0;
    }
    li button:before {
      width: 77px;
      height: 11px;
      background: #593568;
      border-radius: 5px;
      opacity: 1;
      font-size: 0;
    }
    li.slick-active button:before {
      background: #B955E6;
    }
  }
  .slick-arrow {
    @include breakpoint(medium down) {
      display: none !important;
    }
  }
  .slick-list {
    margin-left: rem-calc(-16);
    @include breakpoint(medium down) {
      margin-left: .625rem;
    }
  }
  .special__brand--mobile {
    display: none;
    @include breakpoint(medium down) {
      display: flex;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      justify-content: space-between;
      padding-top: rem-calc(16);
      padding-bottom: 1.5rem;
    }
    @include themed() {
      background-color: t('bg'); 
    }
  }
}