.home__title {
  font-size: rem-calc(31);
  line-height: rem-calc(38);
  @include themed() {
    color: t('heading-color'); 
  } 
  font-family: "Gilroy", sans-serif;
  font-weight: 700;

  margin-bottom: rem-calc(54);
  margin-top: rem-calc(32);

  @include breakpoint(medium down) {
    margin-bottom: rem-calc(24);
    margin-top: rem-calc(24);
  }
  span {
    color: #593568;
  }
  @include breakpoint(medium down) {
    font-size: rem-calc(14);
    line-height: rem-calc(17);
  }
}
.home__title--big {
  font-size: rem-calc(51);
  line-height: rem-calc(62);
  @include breakpoint(medium down) {
    font-size: rem-calc(22);
    line-height: rem-calc(27);
  }
}

.blog {
  h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 82.5rem;
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  h2 {
    @include themed() {
      color: t('heading-color'); 
    }
    font-size: 30px;
    line-height: 133.98%;
    margin-bottom: rem-calc(44);
    margin-top: rem-calc(44);
  }
}