<div id="{{ block.id }}" class="row large-uncollapse medium-uncollapse small-uncollapse" data-easygut-id="bigpostandsidebar">
  <div class="big-post">
    {% if fields.layout == 3 %}

      {% for post in posts %}
        <div class="big-post__col big-post__whole">{% include 'views/parts/FullBgBoks.twig' %}</div>
      {% endfor %}

    {% elseif fields.layout == 4 %}

      {% for post in posts|slice(0,2) %}
        <div class="big-post__col big-post__whole">{% include 'views/parts/FullBgBoks.twig' %}</div>
      {% endfor %}
      
      <div class="big-post__col big-post__half">
        {% for post in posts|slice(2,4) %}
          {% include 'views/parts/FullBgBoks.twig' %}
        {% endfor %}
      </div>
     

    {% elseif fields.layout == 5 %}

      {% for post in posts|slice(0,1) %}
        <div class="big-post__col big-post__whole">{% include 'views/parts/FullBgBoks.twig' %}</div>
      {% endfor %}
      
      <div class="big-post__col big-post__half">
        {% for post in posts|slice(1,2) %}
          {% include 'views/parts/FullBgBoks.twig' %}
        {% endfor %}
      </div>

      <div class="big-post__col big-post__half">
        {% for post in posts|slice(3,5) %}
          {% include 'views/parts/FullBgBoks.twig' %}
        {% endfor %}
      </div>

    {% endif %}
    {# <div class="big-post__col big-post__half">{% include 'views/parts/FullBgBoks.twig' %}{% include 'views/parts/FullBgBoks.twig' %}</div> #}
  </div>
</div>