<footer class="footer">
  <div class="row large-collapse medium-uncollapse small-uncollapse">
    <div class="footer__menus footer__menus--acordion large-12 small-12 medium-12 column">
      <div class="footer__menu footer__menu--copy footer__menu_1">
        <div class="footer__logo">
          <a class="logo-dark" href="{{ site.url }}"><img src="{{ theme.link }}/dist/images/logo.svg" alt="logo" /></a>
          <a class="logo-white" href="{{ site.url }}"><img src="{{ theme.link }}/dist/images/logo-white.svg" alt="logo" /></a>
        </div>
        <div class="footer__copy">&copy; Wszelkie prawa zastrzeżone - {{ function('date', 'Y') }}</div>
      </div>

      {% for i in 1..3 %}

        <div class="footer__menu footer__menu_{{ i + 1 }}">

          {% if attribute(_context, 'footer_'~loop.index).title %}

            <a class="footer__menu__title footer__menu__title--ac" data-menu-id="{{ i + 1 }}">{% if i != 2 %}{{ attribute(_context, 'footer_'~loop.index).title }}{% endif %}</a>    

          {% endif %} 

          {% if attribute(_context, 'footer_'~loop.index).items %}

            <ul class="footer__menu__list footer__menu__list_{{ i + 1 }}">

              {% for item in attribute(_context, 'footer_'~loop.index).items %}

                <li><a href="{{ item.link }}">{{ item.title }}</a></li>

              {% endfor %}

            </ul> 

          {% endif %}

          {% if i == 1 %}

            <div class="footer__partner show-for-large">Wykonanie <a href="https://spiders.agency/">Spiders.agency</a></div>

          {% endif %}

          {% if i == 2 %}

            <div class="footer__partner show-for-large">Hosting <a href="https://dhosting.pl/">Dhosting</a></div>

          {% endif %}

        </div>

      {% endfor %}

      <div class="footer__menu footer__menu_5">
        <div>
          {% if twiter or facebook %}
            <div class="footer__menu__title">Dołącz do nas</div>
            <div class="footer__social">

              {% if twiter %}
                <a href="{{ twiter }}" class="logo-dark" href=""><img src="{{ theme.link }}/dist/images/twitter.svg" alt="twit" /></a>
                <a href="{{ twiter }}" class="logo-white" href=""><img src="{{ theme.link }}/dist/images/twitter-dark.svg" alt="twit" /></a>
              {% endif %}

              {% if facebook %}
                <a href="{{ facebook }}" class="logo-dark" href=""><img src="{{ theme.link }}/dist/images/facebook-f.svg" alt="fb" /></a>
                <a href="{{ facebook }}" class="logo-white" href=""><img src="{{ theme.link }}/dist/images/facebook-f-dark.svg" alt="fb" /></a>
              {% endif %}

            </div>
          {% endif %}
        </div>
        <div class="footer__partner footer__partner--mobile">
          <div class="footer__partner__pair">
            <div class="footer__menu__title">Wykonanie</div>
            <a href="https://spiders.agency/">Spiders.agency</a>
          </div>
          <div class="footer__partner__pair">
            <div class="footer__menu__title footer__menu__title--sec">Hosting</div>
            <a href="https://dhosting.pl/">Dhosting</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>