<div class="post-boks post-boks-fullbg lazyload" style="background-image: url({{ post.nrm_image_src.oryginal }});">
  {{ post.nrm_hot_title }} 
  <div class="post-boks__tag">{{ post.nrm_top_level_categories }}</div>
  <div class="post-boks__title"><a href="{{ post.link }}">{{ post.nrm_title }}</a></div>
  {{ post.nrm_product_placement }}
  <a class="over-link" href="{{ post.link }}"></a>
</div>