<header class="header">
  <div class="row align-middle medium-uncollapse small-uncollapse large-uncollapse">
    <div class="columns shrink">
      <div class="header__logo">
        <a class="logo-dark" href="{{ site.url }}"><img src="{{ theme.link }}/dist/images/logo.svg" alt="logo" /></a>
        <a class="logo-white" href="{{ site.url }}"><img src="{{ theme.link }}/dist/images/logo-white.svg" alt="logo" /></a>
        <div class="switch-box {% if dark_mode %} show-for-large {% endif %}">
          <input id="dark-mode" type="checkbox" class="switch">
        </div>
        <img class="switch-info" src="{{ theme.link }}/dist/images/info.svg" alt="info" />
        <div class="switch-info-box">
          <div class="switch-info-box__title">Dark Mode</div>
          Ten przycisk służy temu, by zmienić kolorystykę serwisu. Przetestuj i zostań z nami na dłużej ;)
        </div>
      </div>
    </div>
    <div class="columns">
      <div id="header__menu" class="header__menu">

        <div class="header__search logo-dark"><img src="{{ theme.link }}/dist/images/search.svg" alt="search" /></div>
        <div class="header__search logo-white"><img src="{{ theme.link }}/dist/images/search-dark.svg" alt="search" /></div>
        <div class="header__menu__items show-for-large">
          {% for item in menu_header.items %}
            <a class="{{ item.classes|join(' ') }}" href="{{ item.link }}" data-catid="{{ function('get_cat_ID', item.title) }}">{{ item.title }}</a>
          {% endfor %}
        </div>
        <div class="header__search-form">
          {{ search_form }}
        </div>

        <button class="nav-button button-lines button-lines-x close hide-for-large">
          <span class="lines"></span>
        </button>

      </div>
    </div>
  </div>
  <div class="return-to-home js-p-r"><a href="{{ site.url }}">WRÓĆ DO STRONY </br>GŁÓWNEJ</a></div>
</header>

{% for item in menu_header.items %}
  {% if item.children %}
  <div class="mega-menu" data-catid="{{ function('get_cat_ID', item.title) }}">
    <div class="row align-middle medium-uncollapse small-uncollapse large-uncollapse">
      <div class="large-4 columns">
        {% if item.children %}
          <ul class="mega-menu__list">
            {% for child in item.children %}
              <li><a class="{{ child.classes|join(' ') }}" href="{{ child.link }}">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="large-8 columns">
        <div class="read-more">
          <div class="read-more__heading">
            <div class="read-more__title">Najnowsze z kategorii: {{ item.title }}</div>
          </div>
          <div class="medium-post read-more__slider">

              {% for post in function('get_post_from_category', function('get_cat_ID', item.title) ) %}
                <div class="read-more__slide">{% include 'views/parts/PostBoks.twig' %}</div>
              {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

<nav class='nav-wrapper'>
  {% if dark_mode %}
    <div class="nav-wrapper__switcher">
      <div>Wybierz motyw:</div>
      <div class="switch-box">
        <input id="dark-mode-mobile" type="checkbox" class="switch">
      </div>
    </div>
  {% else %}
  {% endif %}
  
  {% for item in menu_header.items %}
    <a class="{{ item.classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
  {% endfor %}
  
  <a href="#" class="btn btn--big">Pokaz wszystkie wiadomości</a>
  
  <div class="footer__menu__title">{{ attribute(_context, 'footer_3').title }}</div>

  {% for item in attribute(_context, 'footer_3').items %}
    <a class="menu-item" href="{{ item.link }}">{{ item.title }}</a>
  {% endfor %}

</nav>