<div class="row large-uncollapse medium-uncollapse small-uncollapse align-middle">
  <div class="large-3 small-12 medium-12 columns">
    <div class="author-avatar">
      <img src="{{ user_avatar }}" alt="">
    </div>
  </div>
  <div class="large-9 small-12 medium-12 columns">
    <div class="top-archive top-archive--author">
      <div class="post-boks__tag">Redaktor</div>
      <div class="home__title">{{ user.name }}</div>
      <p>{{ user.description }}</p>
    </div>
  </div>
</div>