.e-commerce {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: rem-calc(40);
  @include breakpoint(medium down) {
    margin-bottom: 1.5rem;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem-calc(46);
    padding: rem-calc(35);
    @include breakpoint(medium down) {
      flex-direction: column;
    }
  }
  &__name {
    color: #1A1A1A;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 133.98%;
    @include breakpoint(medium down) {
      margin-bottom: rem-calc(16);
    }
  }
}