.plus-minus {
  padding: rem-calc(28);
  border-radius: 5px;;
  @include themed() {
    background-color: t('boks-bg');
  }
  &__title,
  &__content {
    display: flex;
    justify-content: space-between  ;
  }
  &__title {
    padding-bottom: rem-calc(28);
    @include themed() {
      border-bottom: 1px solid t('border_color');
    }
    @include breakpoint(medium down) {
      flex-direction: column;
    }
  }
  &__content {
    padding-top: rem-calc(31);
    @include breakpoint(medium down) {
      flex-direction: column;
    }
    & > div {
      flex: 0 0 50%;
    }
    &__title {
      font-size: rem-calc(23);
      line-height: rem-calc(31);
      text-transform: uppercase;
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
    }
    &__subtitle {
      font-size: rem-calc(12);
      line-height: rem-calc(15);
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      margin-bottom: rem-calc(16);
      color: #A9A9A9;
      text-transform: uppercase;
    }
    ul {
      list-style: unset;
      margin-bottom: 0;
      @include breakpoint(medium down) {
        padding-left: 0;
      }
      li {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 180%;
        font-family: 'Red Hat Display', sans-serif;
        &:before {
          display: none;
        }
      }
    }
  }
  &__left {
    @include themed() {
      border-right: 1px solid t('border_color');
    }
    @include breakpoint(medium down) {
      @include themed() {
        border-right: 0px solid t('border_color');
      }
      @include themed() {
        border-bottom: 1px solid t('border_color');
      }
    }
    padding-right: rem-calc(30);
    .plus-minus__content__title {
      color: #56B542;
    }
    ul {
      color: #56B542;
      span{
        @include themed() {
          color: t('secend-text-color');
        }
      }
    }
  }
  &__right {
    padding-left: rem-calc(30);
    @include breakpoint(medium down) {
      padding-left: 0;
      padding-top: 1.9375rem;
    }
    .plus-minus__content__title {
      color: #EE3322;
    }
    ul {
      color: #EE3322;
      span{
        @include themed() {
          color: t('secend-text-color');
        }
      }
    }
  }
  &__rating {
    display: flex;
    &__left {
      background-color: #fff;
      color: #230032;
      padding: rem-calc(23);
      text-align: center;
      text-transform: uppercase;
      margin-right: rem-calc(28);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      @include breakpoint(medium down) {
        margin-right: rem-calc(14);
        font-size: rem-calc(14);
        padding: rem-calc(5) rem-calc(10);
      }
    }
    &__num {
      font-size: rem-calc(50);
      @include breakpoint(medium down) {
        font-size: rem-calc(40);
      }
      line-height: 1;
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
    }
  }
  &__product {
    font-size: rem-calc(30);
    @include breakpoint(medium down) {
      font-size: rem-calc(22);
    }
    line-height: 133.98%;
    font-family: "Gilroy", sans-serif;
  }
  &__price {
    font-size: rem-calc(18);
    color: #B0B0B0;
    @include breakpoint(medium down) {
      font-size: rem-calc(16);
    }
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    span {
      color: #56B542;
    }
  }
  &__cta {
    display: flex;
    flex-direction: column;
    @include breakpoint(medium down) {
      flex-direction: column-reverse;
    }
    .btn {
      @include breakpoint(medium down) {
        display: block;
        text-align: center;
      }
    }
    &__partner {
      margin-left: auto;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #CCCCCC;
      padding: rem-calc(5);
      @include breakpoint(medium down) {
        margin-top: -25px;
        margin-bottom: 20px;
        img {
          max-width: rem-calc(77);
        }
      }
      margin-top: rem-calc(23);
    }
  }
}