.in-preparation {
  .post-boks {
    &:hover {
      @include themed() {
        background-color: t('boks-bg');
        cursor: default;
      }
    }
  }
  a {
    &:hover {
      cursor: default;
    }
  }
}