<div id="{{ block.id }}" class="in-preparation row" data-easygut-id="inpreparation">
  {% for post in posts %}
    <div class="large-4 small-12 medium-12 columns rwd-m" style="margin-bottom: 26px;">{% include 'views/parts/PostBoks.twig' %}</div>
  {% endfor %}
</div>